---
published: true
texts: compatibility
nav: blog
---
<!DOCTYPE html>
<html ng-app="Vita3K">

<head>
{% include head.html %}
</head>

<body id="page-top" ng-controller="angularController">
    <script>
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }
        angular.module('Vita3K', []).controller("angularController", function($scope, $http, $filter, $anchorScroll, $timeout, $location) {

            {% include languagescript.js %}

            $http.post('https://vita3k.rinnegatamante.it/get_reports.php').then(function(res) {
                $scope.reports = res.data
            })
            $timeout(function() {
                $anchorScroll('myAnchor');
            });
        }).filter('unsafe', function($sce) {
            return function(val) {
                return $sce.trustAsHtml(val);
            };
        });
    </script>

    {% include nav.html %}
    {% include languageselection.html %}

    <section id="blog-header" class="text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-body" ng-class="'bg-dark text-white'">
        <div class="container" id="blog-container">
            {% for post in site.posts %}
            <div class="row blog-post">
                <div class="col-lg-12 mx-auto text-center">
                    <h2 class="blog-post-title section-heading"><a href="{{ site.baseurl }}{{ post.url }}"><font color="#bbbbbb">{{ post.title }}</font></a></h2>
                    <p class="blog-post-body mb-5" align="left">{{ post.excerpt }}</p>
                    <div class="blog-post-author" align="right"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include footer.html %}
</body>
</html>
