---
texts: compatibility
nav: blog
---
<!DOCTYPE html>
<html ng-app="Vita3K">

<head>
{% include head.html %}
</head>

<body id="page-top" ng-controller="angularController">

    <script>
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }

        angular.module('Vita3K', []).controller("angularController", function($scope, $http, $filter, $window, $location) {

            var paramValue = $location.search().myParam;

            {% include languagescript.js %}

            $scope.title = ""
            $scope.author = ""
            $scope.report = ""

			$scope.showPreview = 0;
            $http.post('https://vita3k.rinnegatamante.it/get_reports.php').then(function(res){
                i = 0
                while (i < res.data.length){
                    if (res.data[i].id == $location.search().id){
                        $scope.title = res.data[i].title;
                        $scope.report = res.data[i].report;
                        $scope.author = res.data[i].author;
                        break;
                    }
                    i++;
                }
			})

            $scope.password = "";
			$scope.preview = {}
            $scope.data = {}

            $scope.show = function() {
                $scope.showPreview = 1;
                $scope.preview.title = $scope.title
                $scope.preview.report = $scope.report
                $scope.preview.author = $scope.author
            }

            $scope.send = function() {
                $scope.data.password = $scope.password
                $scope.data.title = $scope.title
                $scope.data.report = $scope.report
                $scope.data.author = $scope.author
                $scope.data.id = $location.search().id
                $http.post('https://vita3k.rinnegatamante.it/update.php', $scope.data).then(res => {
                   $window.location.href = "/blog_admin.html";
                })
            }

        }).filter('unsafe', function($sce) {
            return function(val) {
                return $sce.trustAsHtml(val);
            };
        }).config(function($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        });
    </script>

    {% include nav.html %}
    {% include languageselection.html %}

    <section class="text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <h2 class="section-heading">Update a Blog Entry</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark text-white">
        <div class="container">
			<div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="" ng-click="show()">Show Preview</a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="" ng-click="send()">Submit Entry</a>
                    <hr class="my-4">
                    <input type="text" ng-model="password" class="form-control" placeholder="Password" required="true" /><br>
                    <input type="text" ng-model="title" class="form-control" placeholder="Title" required="true" /><br>
                    <input type="text" ng-model="author" class="form-control" placeholder="Author" required="true" /><br>
                    <textarea style="resize: vertical;" ng-model="report" class="form-control" placeholder="Blog Entry" required="true"></textarea>
                </div>
            </div>
        </div>
    </section>

	<section class="text-white" ng-if="showPreview == 1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto text-center">
                    <h3 class="section-heading"><font color=#bbbbbb>{{preview.title}}</font></h3>
                    <hr class="my-4">
                    <p class="mb-5" align="left" ng-bind-html="preview.report | unsafe">
                    </p>
				<div align="right"><small><i>by {{preview.author}}</i></small></div>
            </div>
        </div>
    </section>
    
    {% include footer.html %}
</body>
</html>
