<!DOCTYPE html>
<html ng-app="Vita3K">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vita3K - An Experimental PSVITA Emulator</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="flag-icon/css/flag-icon.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>

    <!-- Texts -->
    <script src="texts/compatibility.js"></script>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118291431-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118291431-1');
    </script>

</head>

<body id="page-top" ng-controller="angularController">

    <script>
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }

        angular.module('Vita3K', []).controller("angularController", function($scope, $http, $filter) {
            $scope.views = []
            $scope.views.push([])
            $scope.views.push([])
            $scope.views.push([])
            $scope.views.push([])
            $scope.views.push([])

            // Multilanguage setup
            var lang = get('lang');
            if (lang == "en") {
                $scope.texts = texts[0]
                $scope.lang = "en"
            } else if (lang == "it") {
                $scope.texts = texts[1]
                $scope.lang = "it"
            } else if (lang == "fr") {
                $scope.texts = texts[2]
                $scope.lang = "fr"
            } else if (lang == "ar") {
                $scope.texts = texts[3]
                $scope.lang = "ar"
            } else if (lang == "gr") {
                $scope.texts = texts[4]
                $scope.lang = "gr"
            } else if (lang == "vn") {
                $scope.texts = texts[5]
                $scope.lang = "vn"
            } else if (lang == "nl") {
                $scope.texts = texts[6]
                $scope.lang = "nl"
            } else if (lang == "pl") {
                $scope.texts = texts[7]
                $scope.lang = "pl"
            } else if (lang == "br") {
                $scope.texts = texts[8]
                $scope.lang = "br"
            } else {
                var lang = window.navigator.language || window.navigator.userLanguage;
                if (lang.startsWith('it')) {
                    $scope.texts = texts[1]
                    $scope.lang = "it"
                } else if (lang.startsWith('ar')) {
                    $scope.texts = texts[3]
                    $scope.lang = "ar"
                } else if (lang.startsWith('fr')) {
                    $scope.texts = texts[2]
                    $scope.lang = "fr"
                } else if (lang.startsWith('el')) {
                    $scope.texts = texts[4]
                    $scope.lang = "gr"
                } else if (lang.startsWith('vi')) {
                    $scope.texts = texts[5]
                    $scope.lang = "vn"
                } else if (lang.startsWith('nl')) {
                    $scope.texts = texts[6]
                    $scope.lang = "nl"
                } else if (lang.startsWith('pl')) {
                    $scope.texts = texts[7]
                    $scope.lang = 'pl'
                } else if (lang.startsWith('pt')) {
                    $scope.texts = texts[8]
                    $scope.lang = 'br'
                } else {
                    $scope.texts = texts[0]
                    $scope.lang = "en"
                }
            }

            lang = $scope.lang

            var pagination = true
            var page = 1
            while (pagination) {
                if (page == 3) pagination = false
                $http.get("https://api.github.com/repos/Vita3K/homebrew-compatibility/issues?state=open&page=" + page + "&per_page=100")
                    .success(function(data) {

                        var i = 0,
                            j = 0
                        for (i = 0; i < data.length; i++) {
                            data[i].status = 0
                            data[i].color = "000000"
                            for (j = 0; j < data[i].labels.length; j++) {
                                if (data[i].labels[j].name == "crash") { // Fatal label, breaking recursion
                                    data[i].color = data[i].labels[j].color
                                    data[i].status = 1
                                    break;
                                } else if (data[i].labels[j].name == "playable") {
                                    if (data[i].status != 0) continue;
                                    data[i].color = data[i].labels[j].color
                                    data[i].status = 4
                                } else if (data[i].labels[j].name.indexOf("bug") >= 0) {
                                    data[i].color = data[i].labels[j].color
                                    data[i].status = 2
                                } else if (data[i].labels[j].name == "slow") {
                                    if ((data[i].status != 0) && data[i].status != 4) continue;
                                    data[i].color = data[i].labels[j].color
                                    data[i].status = 3

                                }
                            }
                            if (data[i].status > 0) {
                                $scope.views[data[i].status].push(data[i])
                            }
                            $scope.views[0].push(data[i])
                            $scope.data = $scope.views[0];
                            $scope.data = $filter('orderBy')($scope.data, 'title', false);
                        }
                    })
                    .error(function() {
                        pagination = false;
                    });
                page++
            }

            $scope.changeView = function(field) {
                $scope.data = $scope.views[field]
                $scope.data = $filter('orderBy')($scope.data, 'title', false);
            }

            $scope.changeLang = function(field) {
                if (field == 1) {
                    $scope.texts = texts[3]
                    $scope.lang = "ar"
                } else if (field == 2) {
                    $scope.texts = texts[8]
                    $scope.lang = "br"
                } else if (field == 3) {
                    $scope.texts = texts[0]
                    $scope.lang = "en"
                } else if (field == 4) {
                    $scope.texts = texts[2]
                    $scope.lang = "fr"
                } else if (field == 5) {
                    $scope.texts = texts[4]
                    $scope.lang = "gr"
                } else if (field == 6) {
                    $scope.texts = texts[1]
                    $scope.lang = "it"
                } else if (field == 7) {
                    $scope.texts = texts[6]
                    $scope.lang = "nl"
                } else if (field == 8) {
                    $scope.texts = texts[7]
                    $scope.lang = 'pl'
                } else if (field == 9) {
                    $scope.texts = texts[5]
                    $scope.lang = "vn"
                }
                lang = $scope.lang
            }

            // Angular filter
            $scope.filterEntries = function(val) {
                return function(entry) {
                    if (val == undefined) return true;
                    return (entry.title.toLowerCase().indexOf(val.toLowerCase() || '') !== -1);
                }
            }
        })
    </script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img class="logo" src="img/logo.svg" width="32" height="32" title="Logo by Gordon Mackay" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html?lang={{lang}}">{{texts[6]}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#" data-toggle="modal" data-target="#language">
                            <span ng-if="lang == 'ar'"><span class="flag-icon flag-icon-sa"></span> AR</span>
                            <span ng-if="lang == 'br'"><span class="flag-icon flag-icon-br"></span> BR</span>
                            <span ng-if="lang == 'en'"><span class="flag-icon flag-icon-gb"></span> EN</span>
                            <span ng-if="lang == 'fr'"><span class="flag-icon flag-icon-fr"></span> FR</span>
                            <span ng-if="lang == 'gr'"><span class="flag-icon flag-icon-gr"></span> GR</span>
                            <span ng-if="lang == 'it'"><span class="flag-icon flag-icon-it"></span> IT</span>
                            <span ng-if="lang == 'nl'"><span class="flag-icon flag-icon-nl"></span> NL</span>
                            <span ng-if="lang == 'pl'"><span class="flag-icon flag-icon-pl"></span> PL</span>
                            <span ng-if="lang == 'vn'"><span class="flag-icon flag-icon-vn"></span> VN</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Language selection -->
    <div class="modal fade language" id="language" tabindex="-1" role="dialog" aria-labelledby="language" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{texts[19]}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="#" data-dismiss="modal" ng-click="changeLang(1)"><span class="flag-icon flag-icon-sa"></span> العربية</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(2)"><span class="flag-icon flag-icon-br"></span> Brasileiro</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(3)"><span class="flag-icon flag-icon-gb"></span> English</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(4)"><span class="flag-icon flag-icon-fr"></span> Français</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(5)"><span class="flag-icon flag-icon-gr"></span> Ελληνικά</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(6)"><span class="flag-icon flag-icon-it"></span> Italiano</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(7)"><span class="flag-icon flag-icon-nl"></span> Nederlands</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(8)"><span class="flag-icon flag-icon-pl"></span> Polski</a>
                    <br>
                    <a href="#" data-dismiss="modal" ng-click="changeLang(9)"><span class="flag-icon flag-icon-vn"></span> Tiếng Việt</a>
                </div>
            </div>
        </div>
    </div>

    <section class="text-white" id="compatibility">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <h2 class="section-heading">{{texts[7]}}</h2>
                    <hr class="my-4">
                    <p class="mb-5">
                        <input style="display:inline-block;vertical-align:middle;" type="text" ng-model="field" class="form-control" placeholder="{{texts[18]}}..." required="true" />
                        <br>
                        <br>{{texts[8]}}:
                        <a href="#" class="plate" ng-click="changeView(1)" style="background-color: red">{{texts[1]}} ({{views[1].length}})</a>
                        <a href="#" class="plate" ng-click="changeView(2)" style="background-color: #d93f0b">{{texts[2]}} ({{views[2].length}})</a>
                        <a href="#" class="plate" ng-click="changeView(3)" style="background-color: #fbca04">{{texts[3]}} ({{views[3].length}})</a>
                        <a href="#" class="plate" ng-click="changeView(4)" style="background-color: #0e8a16">{{texts[4]}} ({{views[4].length}})</a>
                        <a href="#" class="plate" ng-click="changeView(0)" style="background-color: blue">{{texts[5]}} ({{views[0].length}})</a>
                        <center>
                            <table>
                                <tr>
                                    <td><small><font color=red>{{texts[1]}} ({{((views[1].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[9]}}</font></small></td>
                                    <td width="50%">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:{{(views[1].length/views[0].length)*100}}%">

                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small><font color=#d93f0b>{{texts[2]}} ({{((views[2].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[10]}}</font></small>
                                    </td>
                                    <td width="50%">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:{{(views[2].length/views[0].length)*100}}%">
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small><font color=#fbca04>{{texts[3]}} ({{((views[3].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[11]}}</font></small>
                                    </td>
                                    <td width="50%">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:{{(views[3].length/views[0].length)*100}}%">

                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small><font color=#0e8a16>{{texts[4]}} ({{((views[4].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[12]}}</font></small>
                                    </td>
                                    <td width="50%">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:{{(views[4].length/views[0].length)*100}}%">

                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>

                            <table class="table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td><font color=yellow><small>{{texts[13]}}</small></font></td>
                                        <td><font color=yellow><small>{{texts[14]}}</small></font></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="entry in data | filter: filterEntries(field)">
                                        <td align="left"><a href="{{entry.html_url}}"><small>{{entry.title}}</small></a></td>
                                        <td bgcolor="{{entry.color}}"><font color="white"><small>{{texts[entry.status]}}</small></font></td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-white" id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="mb-5">
                        {{texts[15]}} {{texts[16]}}
                        <br>
                        <br> Copyright © 2018 Vita3K team
                        <br> {{texts[17]}} Gordon Mackay - <a href="https://gordonmackayillustration.blogspot.co.uk/">Blog</a> - <a href="https://www.etsy.com/uk/shop/GMackayIllustration">Etsy</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

</body>

</html>
