---
layout: compatibility
texts: compatibility
nav: compat
---
<script>
    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }
    angular.module('Vita3K', []).controller("angularController", async function ($scope, $filter, $http) {
        $scope.views = []
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])
        $scope.views.push([])

        {% include languagescript.js %}

        var numberOfPages = 0;
        await $http.get("https://api.github.com/repos/Vita3K/compatibility")
            .success(function(json) {
                var numberOfEntries = json.open_issues_count;
                numberOfPages = Math.ceil(numberOfEntries / 100);
            });

        var pagination = true
        var page = 1
        while (pagination) {
            if (page == numberOfPages) pagination = false
            $http.get("https://api.github.com/repos/Vita3K/compatibility/issues?state=open&page=" + page + "&per_page=100")
                .success(function (data) {
                var i = 0,
                    j = 0
                for (i = 0; i < data.length; i++) {
                    data[i].status = 0
                    data[i].color = "000000"
                    for (j = 0; j < data[i].labels.length; j++) {
                        if (data[i].labels[j].name == "Nothing") { // Fatal label, breaking recursion
                            data[i].color = data[i].labels[j].color
                            data[i].status = 5
                            break;
                        } else if (data[i].labels[j].name == "Playable") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 4
                        } else if (data[i].labels[j].name == "Ingame +") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 10
                        } else if (data[i].labels[j].name == "Ingame -") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 9
                        } else if (data[i].labels[j].name == "Menu") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 8
                        } else if (data[i].labels[j].name == "Intro") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 7
                        } else if (data[i].labels[j].name == "Bootable") {
                            data[i].color = data[i].labels[j].color
                            data[i].status = 6
                        }
                    }
                    if (data[i].status > 0) {
                        $scope.views[data[i].status].push(data[i])
                    }
                    $scope.views[0].push(data[i])
                    $scope.data = $scope.views[0];
                    $scope.data = $filter('orderBy')($scope.data, 'title', false);
                }
            })
                .error(function () {
                    pagination = false;
                });
            page++
        }
        $scope.changeView = function (field) {
            $scope.data = $scope.views[field]
            $scope.data = $filter('orderBy')($scope.data, 'title', false);
        }
        // Angular filter
        $scope.filterEntries = function (val) {
            return function (entry) {
                if (val == undefined) return true;
                return (entry.title.toLowerCase().indexOf(val.toLowerCase() || '') !== -1);
            }
        }
    })
</script>
{% raw %}
<section class="text-white" id="compatibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading">{{texts[26]}}</h2>
                <hr class="my-4">
                <p class="mb-5">
                    <input style="display:inline-block;vertical-align:middle;" type="text" ng-model="field" class="form-control" placeholder="{{texts[24]}}..." required="true" />
                    <br>
                    <br>{{texts[14]}}:
                    <a href="#" class="plate" ng-click="changeView(5)" style="background-color: red">{{texts[5]}} ({{views[5].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(6)" style="background-color: #621fa5">{{texts[6]}} ({{views[6].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(7)" style="background-color: #d93f0b">{{texts[7]}} ({{views[7].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(8)" style="background-color: #85def2">{{texts[8]}} ({{views[8].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(9)" style="background-color: #fbca04">{{texts[9]}} ({{views[9].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(10)" style="background-color: #fbca04">{{texts[10]}} ({{views[10].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(4)" style="background-color: #0e8a16">{{texts[4]}} ({{views[4].length}})</a>
                    <a href="#" class="plate" ng-click="changeView(0)" style="background-color: blue">{{texts[11]}} ({{views[0].length}})</a>
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <small><font color=red>{{texts[5]}} ({{((views[5].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[27]}}</font></small></td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-nothing" style="width:{{(views[5].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#621fa5>{{texts[6]}} ({{((views[6].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[28]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-bootable" style="width:{{(views[6].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#d93f0b>{{texts[7]}} ({{((views[7].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[29]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-intro" style="width:{{(views[7].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#85def2>{{texts[8]}} ({{((views[8].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[30]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-menu" style="width:{{(views[8].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#fbca04>{{texts[9]}} ({{((views[9].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[31]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-ingame" style="width:{{(views[9].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#fbca04>{{texts[10]}} ({{((views[7].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[32]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-ingame" style="width:{{(views[10].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#0e8a16>{{texts[4]}} ({{((views[4].length/views[0].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[33]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-playable" style="width:{{(views[4].length/views[0].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <table class="table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td><font color=yellow><small>{{texts[19]}}</small></font></td>
                                    <td><font color=yellow><small>{{texts[20]}}</small></font></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entry in data | filter: filterEntries(field)">
                                    <td align="left"><a href="{{entry.html_url}}"><small>{{entry.title}}</small></a></td>
                                    <td bgcolor="{{entry.color}}"><font color="white"><small>{{texts[entry.status]}}</small></font></td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </p>
            </div>
        </div>
    </div>
</section>
{% endraw %}
