---
layout: compatibility
texts: compatibility
nav: compat
---
<script>
    function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }
    function timeAgo(date) {
        const now = new Date();
        const seconds = Math.floor((now - date) / 1000);

        let interval = Math.floor(seconds / 31536000);
        if (interval >= 1) return interval + " years ago";

        interval = Math.floor(seconds / 2592000);
        if (interval >= 1) return interval + " months ago";

        interval = Math.floor(seconds / 86400);
        if (interval >= 1) return interval + " days ago";

        interval = Math.floor(seconds / 3600);
        if (interval >= 1) return interval + " hours ago";

        interval = Math.floor(seconds / 60);
        if (interval >= 1) return interval + " minutes ago";

        return "just now";
    }
    angular.module('Vita3K', []).controller("angularController", async function ($scope, $filter, $http) {
    {% include languagescript.js %}
        $scope.views = []
        $scope.views['Unknown'] = []
        $scope.views['Crashes'] = []
        $scope.views['Buggy'] = []
        $scope.views['Slow'] = []
        $scope.views['Playable'] = []
        $scope.views['Nothing'] = []
        $scope.views['Bootable'] = []
        $scope.views['Intro'] = []
        $scope.views['Menu'] = []
        $scope.views['Ingame -'] = []
        $scope.views['Ingame +'] = []


        $scope.changeView = function (field) {
            $scope.data = $scope.views[field];
            $scope.data = $filter('orderBy')($scope.data, 'name', false);
        }
        // Angular filter
        $scope.filterEntries = function (val) {
            return function (entry) {
                if (val == undefined) return true;
                return entry.name.toLowerCase().includes(val.toLowerCase()) || 
                entry.titleId.toLowerCase().includes(val.toLowerCase());
            }
        }

        $scope.orderBy = function(v){
            const statusOrder = [
                "Nothing",
                "Bootable",
                "Intro",
                "Menu",
                "Ingame -",
                "Ingame +",
                "Playable",
                "Unknown",
            ];

            const reversedStatusOrder = [
                "Playable",
                "Ingame +",
                "Ingame -",
                "Menu",
                "Intro",
                "Bootable",
                "Nothing",
                "Unknown",
            ];

            switch(v){
                case 'titleId': {
                    if($scope.currentOrder !== v){
                        document.getElementById('titleIdHead').textContent = 'Title ID ↓'
                        $scope.data = $scope.data.sort((a, b) => a.titleId.localeCompare(b.titleId));
                    }
                    else {
                        $scope.data = $scope.data.sort((b, a) => a.titleId.localeCompare(b.titleId));
                        document.getElementById('titleIdHead').textContent = 'Title ID ↑'
                        v = 'titleId2'; // mark as different to titleId so that when we click again it uses the unreversed sort
                    }
                    document.getElementById('nameHead').textContent = $scope.texts[19];
                    document.getElementById('statusHead').textContent = $scope.texts[20];
                    break;
                }
                case 'name': {
                    if($scope.currentOrder !== v){
                        document.getElementById('nameHead').textContent = `${$scope.texts[19]} ↓`
                        $scope.data = $scope.data.sort((a, b) => a.name.localeCompare(b.name));
                    }
                    else {
                        document.getElementById('nameHead').textContent = `${$scope.texts[19]} ↑`
                        $scope.data = $scope.data.sort((b, a) => a.name.localeCompare(b.name));
                        v = 'name2'; // mark as different to name so that when we click again it uses the unreversed sort
                    }
                    document.getElementById('titleIdHead').textContent = 'Title ID';
                    document.getElementById('statusHead').textContent = $scope.texts[20];
                    break;
                }
                case 'status':{
                    if($scope.currentOrder !== v){
                        document.getElementById('statusHead').textContent = `${$scope.texts[20]} ↓`
                        $scope.data = $scope.data.sort((a, b) => statusOrder.indexOf(a.status) - statusOrder.indexOf(b.status));
                    }
                    else {
                        document.getElementById('statusHead').textContent = `${$scope.texts[20]} ↑`
                        $scope.data = $scope.data.sort((a, b) => reversedStatusOrder.indexOf(a.status) - reversedStatusOrder.indexOf(b.status));
                        v = 'status2'; // mark as different to status so that when we click again it uses the unreversed sort
                    }
                    document.getElementById('titleIdHead').textContent = 'Title ID';
                    document.getElementById('nameHead').textContent = $scope.texts[19];
                    break;
                }
            }
            $scope.currentOrder = v;
        }

        await $http.get('https://vita3k-api.pedro.moe/list/commercial')
        .success((res) => {

            const updatedAt = new Date(res.date * 1000);
            const updatedAtStr = updatedAt.toLocaleString();
            const timeAgoStr = timeAgo(updatedAt);

            document.getElementById('lastUpdatedAt').textContent = updatedAtStr;
            document.getElementById('timeAgo').textContent = timeAgoStr;

            $scope.views['Unknown'] = res.list;
            $scope.data = $scope.views['Unknown'];
            $scope.orderBy('name');

            res.list.forEach((e) => {
                // Unknown already has all games, no need to add it twice
                if (e.status != 'Unknown') {
                    switch (e.status) {
                        case 'Nothing': e.translatedStatus = $scope.texts[5]; break;
                        case 'Bootable': e.translatedStatus = $scope.texts[6]; break;
                        case 'Intro': e.translatedStatus = $scope.texts[7]; break;
                        case 'Menu': e.translatedStatus = $scope.texts[8]; break;
                        case 'Ingame -': e.translatedStatus = $scope.texts[9]; break;
                        case 'Ingame +': e.translatedStatus = $scope.texts[10]; break;
                        case 'Playable': e.translatedStatus = $scope.texts[4]; break;
                    }
                    $scope.views[e.status].push(e);
                }
            });
        });

        var game = get("g");
        if (game) {
            $scope.field = game;
            $scope.$apply();
        }
    })
</script>
{% raw %}
<section class="text-white" id="compatibility">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h2 class="section-heading">{{texts[26]}}</h2>
                <hr class="my-4">
                {{texts[34]}}
                <br><br>
                <p class="mb-5">
                    <input style="display:inline-block;vertical-align:middle;" type="text" ng-model="field" class="form-control" placeholder="{{texts[24]}}..." required="true" />
                    <br>
                    <br>{{texts[14]}}:
                    <a href="#" class="plate" ng-click="changeView('Nothing')" style="background-color: #e02020">{{texts[5]}} ({{views['Nothing'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Bootable')" style="background-color: #7030b0">{{texts[6]}} ({{views['Bootable'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Intro')" style="background-color: #c71585">{{texts[7]}} ({{views['Intro'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Menu')" style="background-color: #1e64dc">{{texts[8]}} ({{views['Menu'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Ingame -')" style="background-color: #e08a1e">{{texts[9]}} ({{views['Ingame -'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Ingame +')" style="background-color: #fbca04">{{texts[10]}} ({{views['Ingame +'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Playable')" style="background-color: #0e8a16">{{texts[4]}} ({{views['Playable'].length}})</a>
                    <a href="#" class="plate" ng-click="changeView('Unknown')" style="background-color: #3030ff">{{texts[11]}} ({{views['Unknown'].length}})</a>
                    <center>
                        <table>
                            <tr>
                                <td>
                                    <small><font color=#ff2020>{{texts[5]}} ({{((views['Nothing'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[27]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-nothing" style="width:{{(views['Nothing'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#a060ff>{{texts[6]}} ({{((views['Bootable'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[28]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-bootable" style="width:{{(views['Bootable'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#e632aa>{{texts[7]}} ({{((views['Intro'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[29]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-intro" style="width:{{(views['Intro'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#50a0fa>{{texts[8]}} ({{((views['Menu'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[30]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-menu" style="width:{{(views['Menu'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#f0a000>{{texts[9]}} ({{((views['Ingame -'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[31]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-ingame-" style="width:{{(views['Ingame -'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#ffd250>{{texts[10]}} ({{((views['Ingame +'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[32]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-ingame" style="width:{{(views['Ingame +'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small><font color=#28AA28>{{texts[4]}} ({{((views['Playable'].length/views['Unknown'].length)*100).toFixed(2)}}%):</font> <font color=#ffffff>{{texts[33]}}</font></small>
                                </td>
                                <td width="25%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-playable" style="width:{{(views['Playable'].length/views['Unknown'].length)*100}}%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <p>Last Updated at: <span id="lastUpdatedAt"></span> (<span id="timeAgo"></span>)</p>
                        <br>
                        <table class="table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td><a href="#" ng-click="orderBy('titleId')" style="color:yellow"><small id="titleIdHead">Title ID </small></a></td>
                                    <td><a href="#" ng-click="orderBy('name')" style="color:yellow"><small id="nameHead">{{texts[19]}}</small></a></td>
                                    <td><a href="#" ng-click="orderBy('status')" style="color:yellow"><small id="statusHead">{{texts[20]}}</small></a></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="entry in data | filter: filterEntries(field) track by $index">
                                    <td align="left"><b><small>{{entry.titleId}}</small></b></td>
                                    <td align="left"><a href="https://github.com/Vita3K/compatibility/issues/{{entry.issueId}}"><small>{{entry.name}}</small></a></td>
                                    <td bgcolor="{{entry.color}}"><font color="white"><small>{{entry.translatedStatus}}</small></font></td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </p>
            </div>
        </div>
    </div>
</section>
{% endraw %}
