{% raw %}
<section class="text-white" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h3>　Page Links</h3>
                <ul>
                    <li><a href="/quickstart.html">Quickstart</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/faq.html">FAQs</a></li>
                    <li><a href="/compatibility.html">Compatibility List</a></li>
                    <li><a href="/compatibility-homebrew.html">Homebrew Compatibility List</a></li>
                    <li><a href="https://ko-fi.com/vita3k">ko-fi</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h3>　GitHub</h3>
                <ul>
                    <li><a href="https://github.com/Vita3K/Vita3K">Repository</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/pulls">Pull Requests</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/graphs/contributors">Contributers</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/commits/master">Commits</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/pulse">Insights</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/issues">Issues</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K/wiki">Wiki</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h3>　Social</h3>
                <ul>
                    <li><a href="https://discord.gg/6aGwQzh">Discord</a></li>
                    <li><a href="https://webchat.freenode.net/?channels=%23vita3k">Webchat</a></li>
                    <li><a href="https://www.reddit.com/r/vita3k/">Reddit</a></li>
                    <li><a href="https://twitter.com/vita3k">Twitter</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h3>　Repos</h3>
                <ul>
                    <li><a href="https://github.com/Vita3K">Vita3K</a></li>
                    <li><a href="https://github.com/Vita3K/compatibility">Compatibility</a></li>
                    <li><a href="https://github.com/Vita3K/homebrew-compatibility">Homebrew Compatibility</a></li>
                    <li><a href="https://github.com/Vita3K/Vita3K.github.io">Website</a></li>
                </ul>
            </div>
            <div class="col-lg-8 mx-auto text-center">
                <p class="mb-5">
                    <hr class="my-4">
                    <br>
                    {{texts[21]}} {{texts[22]}}
                    <br>
                    <br> Copyright © 2018-2023 Vita3K team
                    <br> {{texts[23]}} Gordon Mackay - <a href="https://gordonmackayillustration.blogspot.co.uk/">Blog</a> - <a href="https://www.etsy.com/uk/shop/GMackayIllustration">Etsy</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endraw %}

<!-- Page top button -->
<a class="nav-link js-scroll-trigger" href="#page-top" id="page_top"></a>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>