{% raw %}
<section class="text-white" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="mb-5">
                    {{texts[21]}} {{texts[22]}}
                    <br>
                    <br> Copyright © 2018-2022 Vita3K team
                    <br> {{texts[23]}} Gordon Mackay - <a href="https://gordonmackayillustration.blogspot.co.uk/">Blog</a> - <a href="https://www.etsy.com/uk/shop/GMackayIllustration">Etsy</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endraw %}

<!-- Page top button -->
<a class="nav-link js-scroll-trigger" href="#page-top" id="page_top"></a>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>