<title>Vita3K - Playstation Vita Emulator</title>
<meta charset="utf-8">
<meta name="description" content="Vita3K is an experimental open-source Sony PlayStation Vita emulator for Windows, macOS, Linux and Android written in C++.">
<meta name="keywords" content="vita3k, PSVita, PSVita emulator, PSVita emulation, PSVita, emulator, windows, macos, linux, android">
<meta name="author" content="Vita3K team">
<meta name="copyright" content="Vita3K team">
<meta property="og:title" content="Vita3K - PlayStation Vita Emulator">
<meta property="og:description" content="Vita3K is an experimental open-source Sony PlayStation Vita emulator for Windows, macOS, Linux and Android written in C++.">
<meta property="og:image" content="/img/logo.webp">
<meta property="og:image:width" content="1024">
<meta property="og:image:height" content="1024">
<meta property="og:url" content="https://vita3k.org/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Vita3K">
<meta name="theme-color" content="#ffa500"> <!-- orange -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>

<!-- Texts -->
{% unless page.layout == "post" %}
<script src="/texts/{{page.texts}}.js"></script>
{% endunless %}

<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
      rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
      rel='stylesheet' type='text/css'>
<link href="/flag-icon/css/flag-icon.css" rel="stylesheet">

<!-- Plugin CSS -->
<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/creative.css" rel="stylesheet">

<link rel="shortcut icon" href="/favicon.ico">

<!--Ionic icons pack-->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118291431-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-118291431-1');
</script>
