{% raw %}
<!-- Language selection -->
<div class="modal fade language" id="language" tabindex="-1" role="dialog" aria-labelledby="language"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{texts[25]}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="#" data-dismiss="modal" ng-click="changeLang(1)"><span class="flag-icon flag-icon-sa"></span>
                    العربية</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(2)"><span class="flag-icon flag-icon-br"></span>
                    Brasileiro</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(3)"><span class="flag-icon flag-icon-gb"></span>
                    English</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(4)"><span class="flag-icon flag-icon-fr"></span>
                    Français</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(5)"><span class="flag-icon flag-icon-gr"></span>
                    Ελληνικά</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(6)"><span class="flag-icon flag-icon-it"></span>
                    Italiano</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(7)"><span class="flag-icon flag-icon-nl"></span>
                    Nederlands</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(8)"><span class="flag-icon flag-icon-pl"></span>
                    Polski</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(9)"><span class="flag-icon flag-icon-ru"></span>
                    Pусский</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(10)"><span class="flag-icon flag-icon-vn"></span>
                    Tiếng Việt</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(11)"><span class="flag-icon flag-icon-cn"></span>
                    中文</a>
                <br>
                <a href="#" data-dismiss="modal" ng-click="changeLang(12)"><span class="flag-icon flag-icon-"></span>
                    日本語</a>
            </div>
        </div>
    </div>
</div>
{% endraw %}
