<!DOCTYPE html>
<html ng-app="Vita3K">
    <head>
    {% include head.html %}
    </head>
    <body id="page-top" ng-controller="angularController">
        <script>
            function get(name) {
                if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                    return decodeURIComponent(name[1]);
            }
            angular.module('Vita3K', []).controller("angularController", function ($scope, $filter, $sce, $http) {
                $scope.$watch('$viewContentLoaded', function() {
                    GetLatestReleases();
                    GetFirmware();
                });

                function GetLatestReleases() {
                   $http.get("https://api.github.com/repos/Vita3K/Vita3K/releases/latest").success(function(json) {
                        var linuxDownloadURL = json.assets.filter((release) => {
                            return release.name.startsWith("master-linux");
                        }).pop().browser_download_url;
                        var macOsDownloadURL = json.assets.filter((release) => {
                            return release.name.startsWith("master-osx");
                        }).pop().browser_download_url;
                        $("#macosURL").attr("href", macOsDownloadURL);
                        $("#linuxURL").attr("href", linuxDownloadURL)
                   });
                }

                function GetFirmware() {
                    $http.get("https://cors-anywhere.herokuapp.com/fus01.psp2.update.playstation.net/update/psp2/list/us/psp2-updatelist.xml")
                    .success(function(xml) {
                        let parser = new DOMParser();
                        xmldoc = parser.parseFromString(xml, "text/xml")
                        let sysdataURL = xmldoc.getElementsByTagName("recovery")[0].childNodes[1].childNodes[0].nodeValue
                        $("#systemdata").attr("href", sysdataURL);
                    })
                }
                {% include languagescript.js %}
            }).filter('unsafe', function ($sce) {
                return function (val) {
                    return $sce.trustAsHtml(val);
                };
            });
        </script>
        {% include nav.html %}
        {% include languageselection.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>