<!DOCTYPE html>
<html ng-app="Vita3K">
    <head>
    {% include head.html %}
    </head>
    <body id="page-top" ng-controller="angularController">
        <script>
            function get(name) {
                if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                    return decodeURIComponent(name[1]);
            }
            angular.module('Vita3K', []).controller("angularController", function ($scope, $filter, $sce, $http) {
                $scope.$watch('$viewContentLoaded', function() {
                    GetLatestReleases();
                    GetFirmware();
                });

                function GetLatestReleases() {
                   $http.get("https://api.github.com/repos/Vita3K/Vita3K/releases/tags/continuous").success(function(json) {
                        ['ubuntu', 'windows'].forEach(os => {
                            const downloadURL = json.assets.filter((release) => {
                                return release.name === os + "-latest.zip";
                            }).pop().browser_download_url;
                            $(`#${os}URL`).attr("href", `${downloadURL}?time=${Date.now().toString()}`);
                        });
                   });
                    $http.get("https://api.github.com/repos/Vita3K/Vita3K/releases/tags/continuous").success(function (json) {
                        ['macos'].forEach(os => {
                            const downloadURL = json.assets.filter((release) => {
                                return release.name === os + "-latest.dmg";
                            }).pop().browser_download_url;
                            $(`#${os}URL`).attr("href", `${downloadURL}?time=${Date.now().toString()}`);
                        });
                    });
                }

                function GetFirmware() {
                    $http.get("https://api.allorigins.win/get?url=http://fus01.psp2.update.playstation.net/update/psp2/list/us/psp2-updatelist.xml")
                    .success(function(response) {
                        let parser = new DOMParser();
                        xmldoc = parser.parseFromString(response.contents, "text/xml")
                        let sysdataURL = xmldoc.getElementsByTagName("recovery")[0].childNodes[1].childNodes[0].nodeValue
                        $("#systemdata").attr("href", sysdataURL);
                    })
                }
                {% include languagescript.js %}
            }).filter('unsafe', function ($sce) {
                return function (val) {
                    return $sce.trustAsHtml(val);
                };
            });
        </script>
        {% include nav.html %}
        {% include languageselection.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>
