---
nav: blog
---
<!DOCTYPE html>
<html ng-app="Vita3K">

<head>
{% include head.html %}
<script src="/texts/compatibility.js"></script>
</head>

<body id="page-top" ng-controller="angularController">

    <script>
        function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }

        angular.module('Vita3K', []).controller("angularController", function($scope, $http, $filter, $anchorScroll, $timeout, $location) {

            {% include languagescript.js %}

            $http.post('https://vita3k.rinnegatamante.it/get_reports.php').then(function(res) {
                $scope.reports = res.data
            })

            $timeout(function() {
                $anchorScroll('myAnchor');
            });

        }).filter('unsafe', function($sce) {
            return function(val) {
                return $sce.trustAsHtml(val);
            };
        });
        //function resizeIframe() {
        //    var iframe = document.getElementById('juxtapose-frame');
        //    var iframeContent = iframe.contentWindow.document.body.scrollHeight;
        //    iframe.style.height = iframeContent + 'px';
        //}
        //window.addEventListener('load', resizeIframe);
        //window.addEventListener('resize', resizeIframe);
    </script>

    {% include nav.html %}
    {% include languageselection.html %}

    <section id="blog-header" class="text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </section>

    <div>
        <section class="blog-body" ng-class="'bg-dark text-white'">
            <div class="container" id="blog-container">
              <div class="row blog-post">
                    <div class="col-lg-12 mx-auto text-center">
                        <h2 class="blog-post-title section-heading"><font color="#bbbbbb">{{ page.title }}</font></h2>
                        <div class="stackedit__html blog-post-body mb-5" align="left">{{ content }}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
</body>
</html>
